.button {
    border: 0;
    outline: none;
    background-color: var(--main-green);
    color: var(--main-background);
    width: 200px;
    height: 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.button:disabled {
    background-color: var(--main-red);
}
.button:hover {
    opacity: 0.9;
}