:root {
    --main-green: green;
    --main-red: red;
    --main-background: rgb(47, 49, 82);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--main-background);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}